.vs/
packages/

*.suo
*.user
_ReSharper.*

IcyLauncher.Data/bin/
IcyLauncher.Data/obj/
IcyLauncher.Data/Properties/

IcyLauncher.Helpers/bin/
IcyLauncher.Helpers/obj/
IcyLauncher.Helpers/Properties/

IcyLauncher.Services/bin/
IcyLauncher.Services/obj/
IcyLauncher.Services/Properties/

IcyLauncher.WinUI/bin/
IcyLauncher.WinUI/obj/
IcyLauncher.WinUI/Properties/

IcyLauncher.Xaml/bin/
IcyLauncher.Xaml/obj/
IcyLauncher.Xaml/Properties/